
body {
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    margin:0;
}

header , footer {
    background-color:  #ff6c33;   
    height: 140px;
    padding: 50px;
    padding-left: 100px; 
    color: white;
}
.butonlar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: fixed;
    cursor: pointer;
}

main {
    background-color: #eeeeee;
    padding-top: 50px;
    padding-right: 240px;
    padding-bottom: 50px;
    padding-left: 240px;
    color: black;     
}
main h2 {
    color: #24c602;
}

main.karanlik {
    background-color: #333333;
    color: white;
}

.code {
    background-color: #bbbbbb;
    font-family: courier;
    padding: 20px;
}

main.karanlik .code {
    background-color: #666666;
}

main.karanlik table {
    background-color: #616161;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}